.App {
  text-align: center;
  /* background-color: #FFBCA4; */
  background-color: #FFD6D1;
}



.Navbar{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.27);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.44);

color: black;
font-family:'Courier New', Courier, monospace;
width: 100%;
height: 80px;
display: flex;
}
.Navbar .leftSide {
  color: black;
}
.Navbar .leftSide .links{
  color: black;
}

.Navbar .leftSide .links a{
  text-decoration: none;
}

.Navbar .rightSide {
  color: black;
}

