.App {
  text-align: center;
  /* background-color: #FFBCA4; */
  background-color: #FFD6D1;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');

.Navbar{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.27);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.44);

color: black;
font: bold 2rem 'Karla', sans-serif;
width: 100%;
height: 80px;
display: flex;
}
.Navbar .leftSide {
  color: black;
  flex: 75%;
}
.Navbar .leftSide .links{
  color: black;
  margin-top: 20px;
  text-decoration: none;
}

.Navbar .leftSide .links a{
  text-decoration: none;
  margin-left: 15px;
}

.Navbar .rightSide {
  color: black;
  flex: 25%;
}

